[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
mypy="*"
pylint = "*"
pytest = "*"
hypothesis = "*"
seaborn = "*"
ipympl = "*"

[packages]
click = "*"
intervaltree = "*"
pyswip = "*"
uvicorn = "*"
starlette = "*"
aiofiles = "*"
timing-asgi = "*"
z3-solver = "*"
kiwisolver = "*"
typing-extensions = "*"
statsmodels = "*"
scipy = "*"
jinja2 = "*"
sympy = "*"
treelib = "*"
numpy = "*"
pathos = "*"
pebble = "*"

[requires]
python_version = "3.8"
