[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
pylint = "*"
pandas = "*"

[packages]
click = "*"
dominate = "*"
intervaltree = "*"
more-itertools = "*"
pyswip = "*"
uvicorn = "*"
starlette = "*"
aiofiles = "*"

[requires]
python_version = "3.7"
