[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
mypy="*"
pylint = "*"
pytest = "*"

[packages]
click = "*"
intervaltree = "*"
pyswip = "*"
uvicorn = "*"
starlette = "*"
aiofiles = "*"
timing-asgi = "*"
z3-solver = "*"
kiwisolver = "*"
Deprecated = "*"
typing-extensions = "*"

[requires]
python_version = "3.8"
