<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mockdown Display</title>
    <style type="text/css" rel="stylesheet">
        .md-view {
            content: attr(data-name);
            background-color: red;

            position: absolute;
            left: var(--left);
            top: var(--top);
            right: var(--right);
            bottom: var(--bottom);

            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="md-view" data-name="foo" style="
        --left: 0;
        --top: 0;
        --right: 100px;
        --bottom: 100px;
    "></div>

    <script type="application/javascript">
        const kiwi = {{ kiwi_js_src }};
    </script>
</body>
</html>