.mockdown-vis-root {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.mockdown-vis-view {
  position: absolute;
  //box-sizing: border-box;
  border: 0.5px solid black;
  left: var(--left);
  right: var(--right);
  top: var(--top);
  bottom: var(--bottom);
  width: var(--width);
  height: var(--height);
}

.mockdown-vis-label {
  font-size: 10px;
  position: absolute;
  left: var(--left);
  top: var(--top);
}

.mockdown-vis-constraint {

}